<h2> Applications </h2>
    
    <tbody>
        <tr *ngFor = "let project of projects" >
                <td> {{ project.name }} </td>
                
                <div class="col-3">
                  <article class="margin-b-big stack__cards__card stack__cards__card-main">
                    <div class="padding-normal padding-b-reset">
                    <a aria-hidden="true" href="/stack/drupal/containers"><img alt="Drupal logo" data-at2x="https://dyltqmyl993wv.cloudfront.net/assets/stacks/drupal/img/drupal-stack-220x234.png" width="90" height="96" src="https://dyltqmyl993wv.cloudfront.net/assets/stacks/drupal/img/drupal-stack-110x117.png">
                    </a></div>
                    <div class="stack__cards__card__info">
                    <h5 class="margin-t-reset">
                    <a href="/stack/drupal/containers">Drupal</a>
                    </h5>
                    <td>
                    <button (click) = "createCont(project.id)" class = "btn btn-info" style="margin-left: 10px"> Demo</button>  
                </td>
                    </div>
                    <div class="stack__cards__card__footer">
                    <span aria-hidden="true">
                    4.8
                    <svg class="icon icon-small" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path></svg>
                    </span>
                   
                    </div>
                    </article>
                        
                        </div>
        
        </tr>
    </tbody>
