
.bg-dark {
    background-color: #000!important;
    color: #fff;
}

.btn-primary, .btn-warning {
    color: #000;
    background-color: #ff7900;
    border-color: #ff7900;
}

@media (min-width: 1024px)
.navbar-expand-lg .navbar-nav .nav-item.dropdown {
    align-self: center;
}
@media (min-width: 1024px)
.navbar-expand-lg .navbar-nav .nav-item {
    font-size: 1rem;
    border: 0;
}
.mega-menu .nav-item {
    position: static;
    padding: 0;
}
div {
    display: block;
}
.navbar-dark {
    color: #fff;
}